body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
    width: 600px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .logo-container {
        margin-top: 10px;
        max-width: 80%;
    }
}